$landingBackgroundImage: url("../etc/images/landing_bg.JPG");
$articleFontColor: white;
$bodyBgColor: #69a3cd;
$btnHover: silver;

.title-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

body,
html {
    height: 100%;
    background-color: $bodyBgColor;
}

div.title-bar-left {
    text-align: center;
}

span.title-bar-title {
    display: inline-block;
    text-align: center;
}

div#landing {
    width: 100%;
    height: 100%;
    background-image: $landingBackgroundImage !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: absolute !important;
}

img.off-canvas-icon {
    width: 50px;
    height: 50px;
    margin: 0.5rem;
}

li.vertical-menu-item:hover {
    background-color: silver;
    transform: scale(1.1);
}

span#off-canvas-close-button {
    font-size: x-large;
    text-align: center;
    padding: 0.5rem;
    border-radius: 100%;
    cursor: pointer;
}

span#off-canvas-close-button:hover {
    background-color: $btnHover;
}
section#about-me {
    color: $articleFontColor;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0 ,0.60);
    overflow: hidden;
    
}

#imgContainer {
    padding-top: 10rem;
}

img#me {
    width: 30rem;
    height: auto;
    border: 5px silver solid;
    border-radius: 100%;
    margin: auto;
    display: block;
}

p.about-me-p {
    font-size: 1.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

div#about-btn-show {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1rem;
}

div#about-btn-show span {
    border-radius: 1rem;
    border: 1px solid white;
    color: white;
    padding: 1rem;
    cursor: pointer;
    display: inline-block;
    transform: rotate(-90deg);
}

div#about-btn-show span:hover {
    background-color: $btnHover;
    color: salmon;
}

.aboutMeBtnClicked {
    transform: rotate(180deg) !important;
}

section#about-me article {
    padding: 1rem !important;
    background-color: rgb(192, 192, 192, 0.2);
}